@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

body{
    background-color: aquamarine;
    color: dodgerblue;
    font-family: "Roboto", cursive;

}
.cabecalho{
    text-align:center;
    background-color: hotpink;
}

.cabecalho{
     background-color: aliceblue;
        text-align: center;
     

}
main{
       
        max-width:800px;
        margin: 0auto;
        padding:16px;
}
    article{
        display: flex;
    }